html {
    min-height: 100%;
    top: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 10px;
}

html, body {
    font-family: bilo, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

body {
    margin: 0;
    font-size: inherit;
    color: #161817;
    background-color: #F4F3EE;
    margin: auto;
}

* {
    font-family: bilo, Helvetica, Arial, sans-serif;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, p, a {
    font-size: 2.2rem;
    line-height: 1.35;
    text-align: center;
    font-weight: normal;
    color: inherit;
    text-decoration: none;
}

h2 {
    font-family: termina, Helvetica, Arial, sans-serif;
}

section {
    padding: 20rem 2rem;
    max-width: 40rem;
    margin: auto;
}

section + img {
    width: 2rem;
    margin: auto;
}

#beetle, #pigeon {
    width: 3rem;
}

#floating-head {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

#floating-head img {
    max-width: 17rem;
    margin: auto;
    height: auto;
}

footer {
    position: relative;
    min-height: 90vh;
    padding: 0;
    overflow: hidden;
    max-width: 60rem;
    margin: auto;
}

footer img {
    position: absolute;
}

#h-bg {
    width: 200%;
    height: auto;
    left: -50%;
}

#h-l1 {
    width: 90%;
    bottom: 35%;
    left: 5%;
}

#h-l2 {
    width: 200%;
    height: auto;
    bottom: -1%;
    left: -50%;
}

#h-l3 {
    bottom: -2%;
    width: 95%;
    left: 2.5%;
}